.menu{
  list-style: none;
  display: flex;
}

.menu li{
  margin-right: 20px;
  font-weight: bold;
}

.inhoud
  display: flex;
  list-style: none;
}

.inhoud li{
  margin-right: 20px;
}

body {
  background-image: url("newyorkskyline.jpg");
  background-size: 1600px 800px;
}
